# @dvag:registry=https://npm.pkg.github.com
# //npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}

@dvag:registry=https://packages.cloud.intern.dvag/repository/npm-public/
//packages.cloud.intern.dvag/repository/npm-public/:username=${NEXUS_USERNAME}
//packages.cloud.intern.dvag/repository/npm-public/:_password=${NEXUS_PASSWORD}
